
html, body {
margin: 0px !important;
padding: 0px !important;
border: 0px !important;
background-color: #fff;
}

h1 {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}


.homepage-line {
  margin: auto;
  /* width: calc(100vw/1.5); */
  height: 2px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.forsale {
  position: static;
}

/*-------- Link Styling --------*/

.link , .jumbotron-link {
  background: linear-gradient(to right, black 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: 0.25s ease-out;
  color: black;
  border: none;
  padding: 18px;
  position: relative;
  top: 22px;
  line-height: 4px;
  text-decoration: none;
  border: 1px solid black;
}

.link:hover{
  background-position: left bottom;
  color: #fff;
}

.jumbotron {
  display: none;
}
/*--------Intro--------*/
/* disabled in mobile */
.intro {
  /* color: #fff; */
  /* opacity: 0.8; */
  font-size: 22px;
  grid-area: intro;
  text-align: center;
  margin: 30px 15px 15px 15px;
  display:none;
  /* box-shadow: 1px 1px 5px #555 inset; */
  padding: 18px;
  /* background-color: #374785; */
  border-radius: 12px;

}
/* Uses CSS background for text overlay, disabled regular image*/
.service {
  display: none;
}

.service-2-content {
  font-size: 18px;
  width: 100vw;
  color: #fff;
  background: rgba(255, 0, 0, 0.5);
  /* padding: 8px; */
  vertical-align: text-top;
  height: 60vw;
}


.service-2 {
  background: url("../images/sample.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

/* Uses CSS background for text overlay, disabled regular image*/
.sales {
  display: none;
}
.sales-2 {

  background: url("../images/yamaha_efi-1.jpg");
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.sales-2-content {
  font-size: 18px;
  color: #fff;
  height: 60vw;
  /* padding: 8px; */
  background: rgba(255, 0, 0, 0.5);
  vertical-align: text-top;
}
.sales img {
  max-width: 100vw;
  overflow: hidden;
}

/*-------- Sub-Grid --------*/

.inventory {
  background-color: grey;
}

/*-------- For Sale Slider ---------*/
 .forsale {
   grid-area: forsale;
   background-color: grey;
   /* opacity: 0.5; */
   border-radius: 12px;
   overflow: hidden;
   flex-wrap: nowrap;
   overflow-x: scroll;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
   height: 320px;
   box-shadow: 1px 1px 5px #555 inset;
   width: auto;
   position: relative;
   margin-top: 12px;
 }

 .forsale-post {
   height: 275px;
   width: 220px;
   display: inline-block;
   flex: 0 0 auto;
   background-color: #fff;
   border-radius: 12px;
   /* border:  */
   padding: 5px;
   margin: 10px;
   text-align: center;

 }
 .forsale-post li{
   list-style-type: none;
 }
 .forsale-img-container {
   padding: 5px;
   height: 40%;
 }
 .forsale-post img {
   max-width: 100%;
   max-height: 100%;
 }



 /*--------Tablet--------*/

@media screen and (min-width: 600px) {
  .grid-container {
    margin: 20px;
   display: grid;
   grid-gap: 15px;
   /* width: calc(100vw/1.5); */
   grid-auto-columns: 2fr;
   grid-template-rows: 3fr;
   grid-template-areas:
     "service-2 service"
     "sales sales-2"
     "sub-grid sub-grid"
     "intro intro"
     "forsale forsale"
  }

  /*-------- Links --------*/

  .link {
    background: linear-gradient(to right, black 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 0.5s ease-out;
    transition: 0.25s ease-out;
    color: black;
    border: none;
    padding: 18px;
    position: relative;
    top: 42px;
    line-height: 18px;
    text-decoration: none;
    border: 1px solid black;
  }

  .jumbotron-link {
    top: 28px;
  }

  .link:hover{
    background-position: left bottom;
    color: #fff;
  }


  /*-------- Jumbotron --------*/
  .jumbotron {
    display: inline;

  }

  .jumbotron-item {
    background: url("../images/Garia.jpg") 0% 50%;
    height: 550px;
    width: 100vw;
    max-width: 100vw;
    max-height: 33vw;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  .jumbotron-container {

    height: 100%;
    /* width: auto; */
    display: inline-block;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.2) 95%, transparent);

  }

  .jumbotron-content{
    padding-right: 140px;
    color: white;
    position: relative;
    /* top: 20%; */
    margin-left: 9%;
    font-size: 16px;
    /* background: linear-gradient(to right, black , transparent); */
  }
  .photos {
    background-color: grey;
    grid-area: photos;
  }
  .inventory {
    grid-area: inventory;
  }
  .intro {
    grid-area: intro;
    display: inline;
  }
  /*--------Service--------*/
  .service {
    display: block;
    /* margin-top: 15px; */
    grid-area: service;
    /* overflow: hidden; */
    /* justify-content: space-around; */
    /* background-size: contain; */
    background: none;
  }

  .service a {
    width: 100%;
  }
  .service-2-content {
    width: auto;
    height:auto;
    display: inline;
    color: black;

    background: none;
    vertical-align: middle;

  }
  .service-2 {
    background: none;
    width: 100%;
    grid-area: service-2;
    text-align: right;
    /* line-height: 25%; */
  }
  .service img {
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 0px;
    vertical-align: top;

  }

  /*-------- homepage-line --------*/




  /*-------- Sales --------*/
  .sales {
    display: block;
    grid-area: sales;

    background-size: contain;
  }

  .sales a {
    p
    width: 100%;
  }

  .sales-2 {
    width: auto;
    position: static;
    background: none;
    grid-area: sales-2;
  }
  .sales-2-content {
    /* width: auto; */
    height: auto;
    background: none;
    color: black;
    vertical-align: middle;
  }
  .sales img {
    max-width: 100%;
    height: auto;
    text-align: center;
    vertical-align: top;
    /* border-radius: 12px; */
    /* box-shadow: 2px 2px 2px; */

  }
  .sub-grid {
    grid-area: sub-grid;
    background-color: orange;
    display: flex;
    grid-template-columns: 33%;
    grid-template-rows: auto;
    height: 18vw;
    grid-template-areas:
    "rentals HP parts"
  }

  .HP {

    /* width: 33%; */
    grid-area: HP;
  }
  .HP img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
  }

  .parts {
    /* max-height: 100%; */
    /* width: 33%; */
    grid-area: parts;
  }

  .parts img {
    max-width: 100%;
    max-height: 100%;

  }

  .rentals {
    max-width: 100%;
    height:auto;
    /* background-image: url("../images/rentals.jpg"); */
    grid-area: rentals;
  }

  .rentals img {
    max-width: 100%;
    max-height: 100%;

  }

  /*-------- For Sale Slider ---------*/
   .forsale {
     grid-area: forsale;
     background-color: gray;
     border-radius: 12px;
     overflow: hidden;
     flex-wrap: nowrap;
     overflow-x: scroll;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;
     -ms-overflow-style: -ms-autohiding-scrollbar;
     height: 320px;
     box-shadow: 1px 1px 5px #555 inset;
     width: auto;
   }

   .forsale-post {
     height: 275px;
     width: 220px;
     display: inline-block;
     flex: 0 0 auto;
     background-color: #fff;
     border-radius: 12px;
     /* border:  */
     padding: 5px;
     margin: 10px;
     text-align: center;

   }
   .forsale-post li{
     list-style-type: none;
   }
   .forsale-img-container {
     padding: 5px;
     height: 40%;
     background-size: contain;
   }
   .forsale-post img {
     max-width: 100%;
     max-height: 100%;
   }


}

 /*--------Fullscreen--------*/
 @media screen and (min-width: 920px) {
  .grid-container {
   padding-top: 38px;
   width: calc(100vw/1.5);
   position: relative;
   margin: auto;
   display: grid;
   grid-gap: 30px;
   grid-auto-columns: 2fr;
   grid-template-rows: max-content;
   grid-template-areas:
   "sales-2 sales"
   "service service-2"
   "sub-grid sub-grid"
   "intro intro"
   "forsale forsale"
}

  .jumbotron-content{
    color: white;
    position: relative;
    top: 20%;
    margin-left: 9%;
    font-size: 22px;
  }
  .jumbotron-item {
    background: url("../images/Garia.jpg") 0% 50%;
    height: 550px;
    width: 100vw;
    max-width: 100vw;
    max-height: 33vw;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
  }


  .forsale {
    grid-area: forsale;
  }

  .sales a{
    float: right;
    position: relative;
  }


  .service a {
    position: relative;

  }


}
