/*--------Post-Page--------*/
/*-------- Mobile --------*/

.post-page {

  margin: auto;
}

.slideshow-container{
  width: 100vw;
  position: relative;
  display: inline-block;
}

.post-meta {
  padding: 0;
}

.post-page-info li {
    width: calc(100vw/1.5);
  padding: 0;
  list-style-type: none;
}

.post-page-info {
  padding: 30px;
  padding-bottom: 0;
  display: block;
  margin-bottom: 100px;
  text-align: left;
}

.post-page-line {
  margin-top: 20px;
}

/*--------Slider size-constraint--------*/

 .attachment-full {
  margin:auto;
  max-width: 100%;
  height: auto;
  margin-top: 38px;
}

.post-page-img {
  text-align: center;
  margin: auto;
  height: auto;
}

/*-------- Slider CSS --------*/
/*-------- In-place for v2 --------*/
 .prev {
}
 .next {
}
.mySlides {
  display: none;
}


/*-------- Tablet & Fullscreen --------*/

@media screen and (min-width: 600px) {

  /*--------Post-Page--------*/

  .post-page {

    text-align: left;
  }

  .post-meta {
    padding: 0;
  }

  .post-page-info li {

    margin: auto;
    margin-bottom: 40px;

    list-style-type: none;

  }

  .post-page-info {
    padding: 20px;
    width: calc(100vw/1.5);
    position: relative;
    left: 420px;
    padding-bottom: 0px;
  }

  /*--------Slider size-constraint--------*/

  .attachment-full {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .slideshow-container {
    display: block;
    margin: auto;
    padding-top: 60px;
  }
  .post-page-img {
    max-width: 700px !important;
    height: auto;
  }
  /*--------Slider CSS--------*/
  .mySlides {
    /* display: none; */
  }

  .next {
    /* display: block; */
    width: 100px;
    height: 75px;
    /* position: relative; */
    left: 50vw;
  }

  .prev {
    /* display: block; */
    width: 100px;
    height: 75px;
    /* position: relative; */
    left: 6vw;
  }

}
