.
.rentals-page {
  font-size: 20px;
}
.rentals-info {
  margin: auto;
  margin-top: 3%;
  text-align: center;
  line-height: 28px;
}

.rental-carts {
  width: calc(100vw / 1.5);
  margin: auto;
}

.rental-item {
  display: block;
  margin: 5% 0 5% 0;
}

.rental-item img {
  max-width: 100%;
}

.rental-item-info {
  text-align: center;
  /* float: right; */
  padding: 18px;
  /* max-width: 50%; */
}

@media screen and (min-width: 600px) {

  .rentals-info {
    font-size: 22px;
    width: calc(100vw / 1.5);

  }
  
  .rental-item {
    display: flex;
  }

  .rental-carts {
    width: calc(100vw / 1.5);
  }

  .rental-item-info {
    max-width: 50%;
    padding: 22px;
    float: right;
  }

  .rental-item-info p {
    float: right;
    /* max-width: 50%; */
  }
  .rental-item-info h3 {

    text-align: left;
  }

  .rental-item img {
    border-radius: 50%;
  }
}
