.service-page {
  padding: 12px;
}

@media screen and (min-width: 600px) {
  .service-page {
    width: calc(100vw / 1.5);
    margin: auto;
    /* display: flex; */
  }

  .service-container {
    display: flex;

  }
  .service-intro {
    width: calc(100% / 3);
    text-align: right;
    margin-left: 18%;
    float: right;
  }

  .service-page img {
    max-width: 500px;

    position: relative;
    border-radius: 50%;
    /* top: 13%; */
    height: auto;
    display: block;
  }

  .service-body {
    display: block;
    clear: left;
  }
}
